<div class="card">

  <div class="card-header">

        <p-avatar
          label={{name.charAt(0)}}
          styleClass="mr-2"
          size="large"
          [style]="{ 'background-color': '#ff970f', color: '#ffffff' }"
          shape="circle"/>
<div style="flex-direction:column; padding-left: 10px ; margin-top: 0px;" >
    <label>{{ name }}</label>
    <p class="label-name">{{data}}</p>
  </div>
</div>

  <div class="card-body">
    <div class="info-name">

    <i class="pi pi-map-marker"></i>
    <p class="cor">Country:</p>
    </div>
    <div class="info-name">
      <i class="pi pi-briefcase"></i>
      <p class="cor">Job: {{username}}</p>
    </div>
      <p class="cor">ID:{{id}}</p>
    </div>

    <div class="border: 1px solid #cfcdcd;">
      <p>{{ content }}</p>

    </div>

   <div class="button-space">

    <p-button label="Accept" severity="warning" (onClick)="accept()" />
    <p-button label="Decline" severity="secondary" />
    <p>$00.00 Lead Invitation</p>

</div>

</div>


