<div class="card">
  <div class="card-header">

        <p-avatar
          label={{name.charAt(0)}}
          styleClass="mr-2"
          size="large"
          [style]="{ 'background-color': '#ff970f', color: '#ffffff' }"
          shape="circle"

        />

    <div style="flex-direction:column; padding-left: 10px ; margin-top: 0px;" >
    <label>{{ name }}</label>
    <p class="label-name">{{data}} </p>
  </div>
  </div>

  <div class="card-body">
    <div class="info-name">

    <i class="pi pi-map-marker"> </i>
    <p class="cor">Street: {{street}}</p>
    </div>
    <div class="info-name">
      <i class="pi pi-briefcase"> </i>
      <p class="cor">Job: {{company}}</p>
    </div>
      <p class="cor">Job ID: {{id}}</p>
      <p class="cor">$00.00 Lead Invitation</p>
    </div>

   <div class="info-name">

    <div class="info-name">
      <i class="pi pi-phone"> </i>
      <p class="cor-infos" >{{zipcode}}</p>
    </div>

    <div class="info-name">
      <i class="pi pi-envelope"> </i>
      <p class="cor-infos">{{email}}</p>
    </div>

    </div>

    <p>{{content}}</p>

    </div>



