.card {
  border: 1px solid #cfcdcd;
  border-radius: 0px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: auto;
  width: auto;
}

.card-header {
  font-weight: bold;
  margin-bottom: 8px;
  display: flex;
}

.card-body {
  color: #333;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.cor {

  color: rgba(75, 74, 74, 0.822);
}

.cor-infos {
  color: rgb(250, 87, 28);
}

.label-name {

  font-size: 12px;
}

.info-name{

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
