<p-tabView class="h-tabview">

  <p-tabPanel header="Invited">
    <app-card *ngFor="let item of leads | leadPipe:false"
    (dataEmitter)="receiveData($event)"
    (declineEmitter)="declineData($event)"
    [name] = "item.name"
    [id] = "item.id"
    [email] = "item.email"
    [accepted] = "item.accepted"
    [street] = "item.address.street"
    [company] = "item.company.name"
    [catchPhrase]= "item.company.catchPhrase"
  >
  </app-card>
  </p-tabPanel>

  <p-tabPanel header="Accept">
  <app-accepted-card *ngFor="let item of leads | leadPipe:true"
    [name] = "item.name"
    [id] = "item.id"
    [content]='"Lorem ipsum dolor sit amet, consectetur adipiscing elit"'
    [accepted] = "item.accepted"
    [email] = "item.email"
    [street] = "item.address.street"
    [company] = "item.company.name"
    [zipcode] = "item.address.zipcode"
    >
</app-accepted-card>
</p-tabPanel>

</p-tabView>


